@{
    ViewBag.Title = "About";
}
<h2 style="margin-top: 120px;"></h2>
<div class="thongtin">
    <h3>GIỚI THIỆU</h3>
    <hr />
    <br/>
    <address>
        <strong>240 Dã Tượng, Vĩnh Nguyên, Nha Trang, Khánh Hòa, Việt Nam</strong>
        <br />
        <strong title="Điện thoại">Điện thoại:</strong>
        035 6827 829
    </address>
    <address>
        <strong style="float: left;" title="Email">Email: </strong><a style="margin-left: 50px;" href="mailto:cuongyd196@gmail.com">huynhthingocnguyen@gmail.com</a><br />
    </address>
    <d>Fairy Wing là kênh phân phối các sản phẩm dành cho thú cưng được yêu thích nhất hiện nay với chất lượng uy tín hàng đầu.</d>
    <br />
    <d>+ Sản phẩm cát vệ sinh:</d>
    <br />
    <d>Được sản xuất theo công nghệ NHẬT BẢN trên dây chuyền hiện đại, sản phẩm không bay bụi, thấm hút siêu nhanh, vón cục tức thì, được bổ sung các hạt khử mùi và kháng khuẩn cho không gian bé yêu luôn sạch sẻ và an toàn.</d>
    <br />
    <d>+ Các sản phẩm thức ăn như pate, hạt, ... đều được tuyển chọn nguồn hàng chất lượng nhằm mang đến cho bé yêu nguồn thực phẩm đảm bảo tốt cho sự phát triển và khỏe mạnh.</d>
    <br />
    <d>Fairy Wing hân hạnh được phục vụ các BOSS yêu!</d>
    <br />
</div>
<h2 style="margin-bottom: 100px;"></h2>
<style type="text/css">
    .thongtin {
        margin: 0 auto;
        width: 50%;
    }
</style>
