<!--
    - #Banner
-->

<section class="cta has-bg-image" aria-label="cta" style="background-image: url('~/assets/images/cta-bg.jpg')">
    <div class="container">

        <figure class="cta-banner">
            <img src="~/assets/images/cta-banner.png" width="900" height="660" loading="lazy" alt="cat" class="w-100">
        </figure>

        <div class="cta-content">

            <img src="~/assets/images/cta-icon.png" width="120" height="35" loading="lazy" alt="taste guarantee"
                 class="img">

            <h2 class="h2 section-title">Thử yêu nó hoặc chúng tôi sẽ thay thế nó... Đảm bảo!!</h2>

            <p class="section-text">
                Tại Khánh Hoà, chúng tôi tin rằng chó và mèo của bạn sẽ yêu thích thức ăn của nó đến mức nếu chúng không thích...
                chúng tôi sẽ giúp bạn tìm thức ăn thay thế. Đó là cam kết về hương vị của chúng tôi.
            </p>

            <a href="#" class="btn">Tìm hiểu thêm</a>

        </div>

    </div>
</section>