@{
    ViewBag.Title = "Contact";
}
<h2 style="margin-top: 120px;"></h2>
<div class="thongtin">
    <h3>THÔNG TIN LIÊN HỆ</h3>
    <hr />
    <address>
        Huỳnh Thị Ngọc Nguyên
        <br />
        <strong title="Điện thoại">Điện thoại:</strong>
        035 6827 829
    </address>

    <address>
        <strong style="float: left;" title="Email">Email: </strong><a style="margin-left: 50px;" href="mailto:cuongyd196@gmail.com">huynhthingocnguyen@gmail.com</a><br />
    </address>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.4436571909005!2d109.19955247472086!3d12.218210988032174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067d68947c129%3A0x430200590bc66967!2zMjQwIETDoyBUxrDhu6NuZywgVsSpbmggSG_DoCwgTmhhIFRyYW5nLCBLaMOhbmggSMOyYSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1685039656703!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
<h2 style="margin-bottom: 100px;"></h2>
<style type="text/css">
    .thongtin{
        margin: 0 auto;
        width: 50%;
    }
</style>