<!--
             - #OFFERS
           -->

<section class="section offer" aria-label="offer">
    <div class="container">

        <ul class="grid-list">

            <li>
                <div class="offer-card has-bg-image img-holder"
                     style="background-image: url('./assets/images/offer-banner-1.jpg'); --width: 540; --height: 374;">

                    <p class="card-subtitle">Các mục đã chọn & Trực tuyến</p>

                    <h3 class="h3 card-title">
                        Mùa hè <span class="span">rực nóng</span>
                    </h3>

                    <a href="#" class="btn">Đọc thêm</a>

                </div>
            </li>

            <li>
                <div class="offer-card has-bg-image img-holder"
                     style="background-image: url('./assets/images/offer-banner-2.jpg'); --width: 540; --height: 374;">

                    <p class="card-subtitle">Điều trị & chải chuốt</p>

                    <h3 class="h3 card-title">
                        Tăng thêm <span class="span">sự yêu thích</span>
                    </h3>

                    <a href="#" class="btn">Đọc thêm</a>

                </div>
            </li>

            <li>
                <div class="offer-card has-bg-image img-holder"
                     style="background-image: url('./assets/images/offer-banner-3.jpg'); --width: 540; --height: 374;">

                    <p class="card-subtitle">Thương hiệu nổi bậc</p>

                    <h3 class="h3 card-title">
                        Mới trong <span class="span">năm nay</span>
                    </h3>

                    <a href="#" class="btn">Đọc thêm</a>

                </div>
            </li>

        </ul>

    </div>
</section>