<!--
              - #SERVICE
            -->

<section class="section service" aria-label="service">
    <div class="container">

        <img src="~/assets/images/service-image.png" width="122" height="136" loading="lazy" alt="" class="img">

        <h2 class="h2 section-title">
            <span class="span">Thú cưng của bạn cần gì,</span> khi nào nó cần được chăm sóc.
        </h2>

        <ul class="grid-list">

            <li>
                <div class="service-card">

                    <figure class="card-icon">
                        <img src="~/assets/images/service-icon-1.png" width="70" height="70" loading="lazy"
                             alt="service icon">
                    </figure>

                    <h3 class="h3 card-title">Giao hàng cùng ngày miễn phí</h3>

                    <p class="card-text">
                        Đặt hàng trước 2 giờ chiều để được giao hàng miễn phí theo đơn đặt hàng +600.000đ ngay hôm nay.
                    </p>

                </div>
            </li>

            <li>
                <div class="service-card">

                    <figure class="card-icon">
                        <img src="~/assets/images/service-icon-2.png" width="70" height="70" loading="lazy"
                             alt="service icon">
                    </figure>

                    <h3 class="h3 card-title">30 ngày trở lại</h3>

                    <p class="card-text">
                        Giảm 35% đơn hàng đầu tiên của bạn cộng với 5% cho tất cả các đơn đặt hàng trong tương lai.
                    </p>

                </div>
            </li>

            <li>
                <div class="service-card">

                    <figure class="card-icon">
                        <img src="~/assets/images/service-icon-3.png" width="70" height="70" loading="lazy"
                             alt="service icon">
                    </figure>

                    <h3 class="h3 card-title">Thanh toán bảo mật</h3>

                    <p class="card-text">
                        Giảm 25% đơn hàng trực tuyến của bạn là +200.000đ. Có sẵn tại hầu hết các địa điểm.
                    </p>

                </div>
            </li>

            <li>
                <div class="service-card">

                    <figure class="card-icon">
                        <img src="~/assets/images/service-icon-4.png" width="70" height="70" loading="lazy"
                             alt="service icon">
                    </figure>

                    <h3 class="h3 card-title">Hổ trợ 24/7</h3>

                    <p class="card-text">
                        Mua sắm trực tuyến để nhận đơn đặt hàng trên 100.000đ được vận chuyển nhanh chóng và miễn phí.
                    </p>

                </div>
            </li>

        </ul>

    </div>
</section>
