<section class="section hero has-bg-image" id="home" aria-label="home"
         style="background-image: url('./assets/images/hero-banner.jpg')">
    <div class="container">
        <h1 class="h1 hero-title">
            <span class="span">Thức ăn chất lượng cao</span> Thú cưng
        </h1>
        <p class="hero-text">Giảm giá tới 40% ngày hôm nay</p>
        <a href="/Home/Product" class="btn">Mua ngay</a>
    </div>
</section>